form.shareForm
  label(for="url") Partage cette liste aux autres invités
  input(
    id="url" 
    type="url"
    value=`${ url }` 
    data-clipboard=`${ url }` 
    data-share-url=`${ url }` 
    data-share-title=`${ party.name }` 
    data-share-text=`${ party.author } vous invite à rejoindre l'évènement ${ party.name }`
  )